body {
  font-family: var(--font-primary);
  color: var(--color-grey-1);
}

:root {
  --color-brand-1: #1a76d1;
  --color-brand-2: #5396d8;
  --color-primary: #0d6efd;
  --color-grey-1: #191c1f;
  --color-grey-2: #000000;
  --color-grey-3: #33363a;
  --color-grey-4: #373b3e;
  --color-grey-6: #a6a8a9;
  --color-grey-7: #d9d9d9;
  --color-grey-8: #ffffff;
  --font-primary: "Roboto", sans-serif;
}
