@media (max-width: 1338px) {
  img {
    display: none;
  }
}

nav {
  display: block;
  height: 62px;
  margin-top: 30px;
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.1);
}

main {
  min-height: calc(100vh - 62px - 62px);
}

.menu {
  display: flex;
  justify-content: center;
}

.main__menu ul {
  display: flex;
  justify-content: center;
}

.menu__item a {
  display: block;
  text-align: center;
  margin-right: 20px;
  padding: 0 15px 29px 10px;
  text-decoration: none;
  color: var(--color-grey-2);
}

.menu li a:hover {
  color: var(--color-brand-1);
  border-bottom: 3px var(--color-brand-1) solid;
}

#link-hover-header:hover {
  background-color: var(--color-brand-2);
}

.link__video {
  color: var(--color-grey-8);
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--color-brand-1);
  text-wrap: nowrap;
}

.background {
  background-image: url("../assets/img/topBg.png");
  background-repeat: no-repeat;
}

.format__box {
  font-size: 24px;
}

.format__last {
  margin-top: 45px;
}

.format__svg {
  margin-top: 25px;
  margin-right: 50px;
}

.format__svg p span {
  display: inline;
  align-items: center;
  vertical-align: middle;
  margin-right: 5px;
}

#link-hover {
  text-decoration: none;
}

.box {
  width: 350px;
  margin-left: 150px;
}

.box__2 p a span {
  display: inline;
  align-items: center;
  vertical-align: middle;
}

/* dialog {
  width: 500px;
  height: 500px;
  padding: 30px;
  border: solid 2px var(--color-accent);
}

dialog::backdrop {
  background-color: rgba(25, 28, 31, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
} */
